<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem" class="register-main">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <h3>Create account</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="your name"
          ngModel
          name="name"
          required
        >
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="number"
          placeholder="your age"
          ngModel
          name="age"
          required
        >
      </mat-form-field>
          <div>
            <mat-radio-group
          fxLayout="column"
          fxLayoutGap="1rem"
          [(ngModel)]="gender"
        >
        <mat-radio-button
          class="example-radio-button"
          *ngFor="let gender of genders"
          [value]="gender"
        >{{ gender }}
        </mat-radio-button>
      </mat-radio-group>
          </div>
      <mat-form-field class="example-full-width">
        <input matInput type="email" placeholder="Email Address" #userEmail email required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          matInput
          #userPwd="ngModel"
          ngModel
          required
          class="formControl"
          placeholder="Your password"
          name="password"
          minlength="8"
          [type]="hide ? 'password' : 'text'"
        >
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="signUp(userEmail.value, userPwd.value)">
        Sign Up
      </button>
    </mat-card-actions>
    <span class="or"><span class="orInner">Or Log in with:</span>
    <button class="gbtn"
    (click)="authService.GoogleAuth()">
    <!-- <img src="https://img.icons8.com/color/48/000000/google-logo.png"/> -->
    <mat-icon><i class="fab fa-google-plus-g" aria-hidden="true"></i></mat-icon>
  </button></span>
    <mat-card-footer>
      <span>Already have an account ? <a class="redirect" routerLink="/log-in">Log In</a></span>
    </mat-card-footer>
  </mat-card>
</div>
