<section class="wrapper" fxLayoutAlign='center start' fxLayoutGap="10rem">
  <section fxLayout="column" fxLayoutGap="10rem">
    <mat-card>
<mat-card-title>
  <h1>Graph 1</h1>
</mat-card-title>
<mat-card-content>Line chart</mat-card-content>
    </mat-card>
    <mat-card>
<mat-card-title>
  <h1>Graph 2</h1>
</mat-card-title>
<mat-card-content>Bar Chart</mat-card-content>
    </mat-card>
  </section>
  <mat-card>
    <mat-card-title>
      <h1>Some content About Diabetes</h1>
    </mat-card-title>
    <mat-card-content></mat-card-content>
  </mat-card>
</section>
