.login-main {
  margin-top: 10%;
}

mat-card {
  min-width: 30%;
  color: white;
  background-color: #343a40;
  padding: 2rem;
}

mat-card:hover {
  opacity: 0.9;
}

mat-card-footer {
  margin-left: 10px;
  margin-bottom: 10px;
}
mat-icon {
  size: 30px;
  text-align: center;
}

.sign-up {
  font-weight: bold;
  font-size: medium;
}

.gbtn {
  background: none;
  border: none;
}

.fa-google-plus-g {
  color: #cc5050;
}

.fa-google-plus-g:hover {
  color: white;
  transition: 0.6s;
}

.mat-raised-button {
  color: white;
  background-color: #cc5050;
}

.mat-raised-button:hover {
  color: #343a40;
  background-color: white;
}

a {
  color: #cc5050 !important;
  text-decoration: none;
}

a:hover {
  color: ivory !important;
  transition: 0.9s;
}

mat-form-field {
  width: 60%;
}

mat-card-content,
mat-card-actions,
.or,
mat-card-footer,
hr {
  margin-left: 1vw;
}

hr {
  width: 90%;
}


.wrapper {
  margin-top: 5vh;
}
