<div fxLayout="row" fxLayoutAlign="center center" class="login-main" fxLayoutGap="1rem">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
          <h3>Login</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <mat-form-field class="example-full-width">
        <input matInput type="email " class="formControl" placeholder="Email" #userName required email>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          class="formControl"
          #userPassword="ngModel"
          matInput
          placeholder="Your password"
          ngModel
          name="password"
          minlength="8"
          required
          [type]="hide ? 'password' : 'text'"
        >
        <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon style="margin-bottom: 0.5rem">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
        <mat-hint style="color:white" align="end">{{ userPassword.value?.length }} / 8</mat-hint>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="signIn(userName.value, userPassword.value)">
        Log In
      </button>
    </mat-card-actions>
    <span class="or"><span class="orInner">Or Log in with:</span>
    <button class="gbtn"
        (click)="authService.GoogleAuth()">
        <!-- <img src="https://img.icons8.com/color/48/000000/google-logo.png"/> -->
        <mat-icon><i class="fab fa-google-plus-g" aria-hidden="true"></i></mat-icon>
      </button>
    </span>
    <br>
    <mat-card-footer style="line-height: 2;">
      <a routerLink="/forgot-password">Forgot your Password ?</a>
      <br>
      <span>Don't have an account yet ?<a routerLink="/register-user" class="sign-up">  Sign Up</a></span>
    </mat-card-footer>
    <hr>
  </mat-card>
</div>
