<section fxLayout="column" fxLayoutAlign="center center" class="wrapper">
  <div>
    <div fxLayout="column" fxLayoutGap="4rem" fxLayoutAlign="center center" class="backdrop">
      <h1>Welcome to Inso<span>lution</span></h1>
      <div fxLayout="row" fxLayoutGap="3rem">
        <i class="fas fa-heartbeat"></i>
        <i class="fas fa-stethoscope"></i>
        <i class="fab fa-accessible-icon"></i>
      </div>
      <div>
        <h4>We cater to all your diabetic data & info needs.Educate yourself on diabetes and how to a long & healthy
          life.</h4>
        <h4>Check to see if you are a diabetic. Check doctor availability. all in one place.</h4>
        <section fxLayoutAlign="end">
          <button mat-raised-button (click)='goToMain()'><h4><span class="start">Inso</span><span class="end">lution</span></h4></button>
        </section>
      </div>
    </div>
  </div>
</section>
