.wrapper {
    background-image: url('https://www.chromatrap.com/g_images/medium/2018-08-09-12-38-48-chromatrap-dna-extraction-kits-now-optimised-for-blood-extraction-1014-1-image1.jpg');
    color: white;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .backdrop {
   padding: 5rem 10rem;
    width: 100%;
    height: 50vh;
    background: rgba(0, 0, 0, 0.65);
    z-index: 50;
    border-radius: 5px;
  }

  span {
    color:#cc5050;
  }

  h5 {
    line-height: 1.5;
    margin-right: 10px;
    margin-left: 10px;
  }

  i {
    color: #cc5050;
    font-size: 2rem;
    padding: 2rem;
    border: 1px solid white;
    border-radius: 200px;
  }

  i:hover {
    border-color: #cc5050;
    color: white;
    cursor: pointer;
    transition: 0.6s;
  }

  h1 {
    font-size: 6rem !important;
  }

  button {
    font-weight: bold;
    color: white;
    padding: 0.5rem 3rem;
  }

  .start {
    color: #cc5050;
  }

  .end {
    color: white;
  }

  button:hover {
    background-color: black;
    color: white;
  }

  button:hover .start {
    color: white;
    transition: 0.9s;
  }

  button:hover .end{
    color: #cc5050;
    transition: 0.9s;
  }
