<mat-sidenav-container>
    <mat-sidenav #sidenav mode="push" role="navigation">
        <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header *ngIf="url" (sidenavToggle)=sidenav.toggle()></app-header>
        <main>
            <router-outlet></router-outlet>
        </main>
        <!-- <app-welcome *ngIf="url"></app-welcome> -->
    </mat-sidenav-content>
</mat-sidenav-container>