<mat-nav-list fxFlex fxLayout="column">
  <section>
    <h3>Inso<span>lution</span></h3>
  </section>
    <!-- <a mat-list-item routerLink="/form" (click)="onClose()">
        <mat-icon>people_alt</mat-icon>
        <span class="nav-catpion b">Orders</span>
    </a> -->
    <!-- <a mat-list-item routerLink="/fifo" (click)="onClose()">
        <mat-icon>people_alt</mat-icon>
        <span class="nav-catpion b">Fifo</span>
    </a> -->
    <!-- <mat-list-item (click)="onClose()"> -->
      <mat-list-item *ngFor="let link of links">
        <a routerLink="{{ link.ref }}">
          <h5>
            <span class='white' *ngIf="(link.text !== 'logout')">Inso</span>
            <span class='red'>{{ link.text }}</span>
          </h5>
        </a>
    </mat-list-item>
</mat-nav-list>
