
<mat-toolbar>
  <div>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon class="menu">
        menu
      </mat-icon>
    </button>
  </div>
  <div class="logo"><a routerLink="/welcome">Inso<span>lution</span></a>
    <!-- <mat-icon>whatshot</mat-icon> -->
</div>
<div fxFlex fxLayout fxLayoutAlign="flex-end" *ngIf="url">


      <ul class="nav navbar-nav flex-row">
        <li *ngFor="let link of links" >
          <a routerLink="{{ link.ref }}">
            <h5>
              <mat-icon *ngIf="(link.text !== 'logout')"><i class="fas fa-tint"></i></mat-icon>
              <span class='white' *ngIf="(link.text !== 'logout')">Inso</span>
              <span class='red'>{{ link.text }}</span>
            </h5>
          </a>
        </li>
      </ul>
    </div>

</mat-toolbar>
