.fa-tint {
  color:#cc5050;
  visibility: hidden;
  margin-right: 3rem;
  font-size: 1rem;
}

mat-toolbar {
  background-color: #343a40 !important;
}
mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}

a {
    text-decoration: none;
    color: white;
    padding: 2rem;
}

.navigation_items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-caption {
    display: inline-block;
    padding-left: 6px;
}

.logo {
    margin-left: 1rem;
    font-size: 4rem;
    font-weight: bold;
}

mat-icon {
    color: white;
    font-size: 2rem;
    padding-left: 1rem;
}

.red, span {
  color:#cc5050;
}

h1 {
  font-weight: bold;
  color: white;

}

.white {
  color: white;
}

li:hover {
  cursor: pointer;
}

li:hover .white{
  color: #cc5050;
  transition: 1.5s;
}

li:hover .red {
  color: white;
  transition: 1.5s;
}

a {
  text-decoration: none !important;
}

.menu {
  color: #cc5050;
  font-size: 2.5rem;
}

ul li a {
  background-color: #343a40 !important;
}
ul li a:hover, ul li a:focus {
  background-color: #343a40 !important;
}

li a:hover .fa-tint {
  visibility: visible;
  color: #cc5050;
}


