/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
  font-family: "Montserrat", sans-serif;
  /* background-color: ivory; */
}

.mat-form-field-underline {
  background-color: white !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #cc5050  !important;
}

.mat-form-field .mat-form-field-label {
  color: white  !important;
}

.mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: #cc5050  !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #343a40  !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #343a40 ;
}

.mat-input-invalid .mat-input-placeholder {
  color: #343a40 ;
}

.mat-input-invalid .mat-input-ripple {
  background-color: #343a40 ;
}

button,
.mat-raised-button {
  background-color: #343a40 ;
  color: #343a40 ;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: white  !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: white  !important;
}

.mat-success {
  background-color: white ;
  color: #fff;
}
