<div fxLayout="row" fxLayoutAlign="center center" class="fotgot-password-main">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <h3>Reset Your Password</h3>
      </mat-card-title>
      <mat-card-subtitle>
        Please enter your email address to request a password reset.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <mat-form-field class="example-full-width">
        <input matInput type="email" email class="formControl" placeholder="Email Address" #passwordResetEmail required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="resetPassword(passwordResetEmail.value)">
        Reset Password
      </button>
    </mat-card-actions>

    <mat-card-footer>
      <span>Go back to <a class="redirect" routerLink="/log-in">Log In</a></span>
    </mat-card-footer>
  </mat-card>
